@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../content/font/roboto-v50-latin/roboto-v50-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../content/font/roboto-v50-latin/roboto-v50-latin-700.woff2') format('woff2');
}